// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  padding: 0.5rem;
  background-color: black;
}

.footer a {
  color: #fff;
}

.footer-socials {
  max-width: 300px;
  margin: 0 auto;
}

.footer-copyright {
  text-align: center;
  @include font-size('base');
  color: #fff;
}
